/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    width: 100%;
    /*overflow-x: hidden;*/
    background-size: cover;
}
body {
  color: #fff;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background: #3a6ab2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#49c6e8, #3a6ab2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#49c6e8, #3a6ab2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#49c6e8, #3a6ab2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#49c6e8, #3a6ab2); /* Standard syntax */
  background-repeat: no-repeat;
  
  /*text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);*/
}
@media only screen and (max-width : 767px){
  html,
  body {
    height: auto;
    width: auto;
  }
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

@media only screen and (max-width : 767px){
  .inner {
    padding-top: 100px;
  }
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.img-style {
  padding-top: 60px;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}
.page-footer{
  letter-spacing: 6px;
  word-spacing: 10px;
  font-size: 13px;
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead {
    width: 42rem;
  }
}

/* Button */
.block-button{
  display: inline-block;
  text-align: center;
  margin-top: 110px;
}

.page-button {
  background-color: rgba(59, 123, 183, 0.24);
  border: 1px solid #3B6DB4;
  color: white;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;  
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Text Style */
.text-style {
  display: inline-block;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 1.1px;
  width: 75%;
}

.text-title-style {
  display: inline-block;
  font-size: 87px;
  font-weight: 100;
  width: 75%;
}

@media only screen and (max-width : 768px) {
  .text-title-style{
    line-height: 90px;
  }
}

@media only screen and (max-width : 767px){
  .text-title-style{
    font-size: 60px;
    line-height: 70px;
    padding-top: 20px;
  }

  .text-style {
    font-size: 20px;
  }

  .block-button{
    margin-top: 55px;
  }

  .img-style {
    padding-top: 30px;
  }
}

@media only screen and (max-width : 320px) {
  .page-button{
    width: 250px;
  }
}