.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.container {
    width: 940px;
    margin: 0 auto
}
.content {
    float: left;
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #3a6ab2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#49c6e8, #3a6ab2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#49c6e8, #3a6ab2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#49c6e8, #3a6ab2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#49c6e8, #3a6ab2); /* Standard syntax */
    background-repeat: no-repeat;
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
}

html {
    position: relative;
}

html, body {
    margin: 0;
    height: 100%;
}

footer {
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

p {
    color: #ffffff;
    margin-top: 20px;
}

.centered {
    position: relative;
    display: block;
    vertical-align: middle;
    margin-left: auto; 
    margin-right: auto;
}

.page-button {
    background-color: rgba(59, 123, 183, 0.24);
    border: 1px solid #3B6DB4;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    width: 300px;
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
}