{% load cms_tags menu_tags sekizai_tags static %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
        <link href="{% static 'css/bootstrap-theme.css' %}" rel='stylesheet' type='text/css'>
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel='stylesheet' type='text/css'>
        <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'>
        <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'>
        <link href="{% static 'css/cover.css' %}" rel='stylesheet' type='text/css'>
        
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container-fluid">
            <ul class="nav">
                
            </ul>
            {% block content %}{% endblock content %}
        </div>
        {% render_block "js" %}
    </body>
</html>
