{% extends "base.html" %}
{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="col-sm-12 col-md-12">
	<div style="padding-top: 60px;">
		<img class="centered" src="{% static 'images/icon_2.png' %}" width="110" height="90"/>
	</div>
	<div>
		<p style="font-size: 87px;font-weight: 100;text-align: center;">
			BE RIGHT BACK, SORRY!
		</p>
		<p style="font-size: 25px;font-weight: 100;text-align: center;letter-spacing: 1.1px;">
			We are working on new cool things to make oceannexus.my an even better experience for you.
		</p>
	</div>
	<div style="text-align: center;">
		<button class="page-button">
			<span style="letter-spacing: 3px;">CONTACT US:</span><br>
			<span style="color: rgba(255, 255, 255, 0.45);">enquiry@oceannexus.my</span>
		</button>
		<button class="page-button">
			<span style="letter-spacing: 3px;">OUR PORTFOLIO</span><br>
			<span style="color: rgba(255, 255, 255, 0.45);">Download here</span>
		</button>
	</div>
</div>
<footer>
    <span style="text-align: center;">OCEAN NEXUS</span>
    <img class="centered" src="{% static 'images/white-logo.png' %}" width="60" height="60"/>
</footer>
	{% placeholder "content" %}
{% endblock content %}
