{% extends "base.html" %}
{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner" style="display: none;">

        </div>
      </div>

      <div class="row">
        <div class="inner cover">
          <div class="col-xs-12 img-style">
            <img src="{% static 'images/icon_2.png' %}" width="110" height="90"/>
          </div>
          <div>
            <div class="col-md-12">
              <p class="lead text-title-style">BE RIGHT BACK, SORRY!</p>
            </div>
            <div class="col-md-12">
              <p class="lead text-style">
                We are working on new cool things to make oceannexus.my an even better experience for you.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="block-button">
          <div class="col-sm-6">
            <a class="button page-button" href="mailto:enquiry@oceannexus.my?subject=[Ocean Nexus - Enquiry]" style="text-decoration: none;">
              <span style="letter-spacing: 3px;">CONTACT US:</span><br>
              <span style="color: rgba(255, 255, 255, 0.45);">enquiry@oceannexus.my</span>
            </a>
          </div>
          <div class="col-sm-6">
            <a class="button page-button" style="text-decoration: none;" href="{{ '/static/files/Company Profile 2017.pdf' }}" download>
              <span style="letter-spacing: 3px;">OUR PORTFOLIO</span><br>
              <span style="color: rgba(255, 255, 255, 0.45);">Download here</span>
            </a>
          </div>
        </div>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p class="page-footer">OCEAN <span><img style="opacity: 0.5;" src="{% static 'images/white-logo.png' %}" width="40" height="40"/></span> NEXUS</p>
        </div>
      </div>

    </div>

  </div>

</div>
{% placeholder "content" %}
{% endblock content %}